<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.muilat.android.offlinetutorial">

    <!-- This permission is necessary in order for Sunshine to perform network access. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />


        <activity
            android:name=".SplashActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
            android:launchMode="singleTop"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"
            >

        </activity>

        <activity
            android:name=".LessonActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".MainActivity"></activity>

        <activity
            android:name=".NotificationActivity"
            android:label="Notification"
            android:parentActivityName=".MainActivity"></activity>

        <activity
            android:name=".SubCategoryFragment"
            android:label="Category Name"
            android:parentActivityName=".MainActivity"

            android:theme="@style/AppTheme.NoActionBar">


        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/action_search"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".QuizActivity"
            android:label="@string/action_quiz"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity
            android:name=".ResultActivity"
            android:label="@string/quiz_result"
            android:launchMode="singleInstance"
            android:parentActivityName=".MainActivity">

        </activity>


        <activity
            android:name=".FavouriteActivity"
            android:label="@string/favourites"
            android:theme="@style/AppTheme.NoActionBar"

            android:parentActivityName=".MainActivity">

        </activity>

        <activity
            android:name=".FavouriteViewActivity"
            android:label="@string/favourites"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".FavouriteActivity">

        </activity>

        <activity
            android:name=".LessonViewFragment"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".InfoActivity"
            android:parentActivityName=".MainActivity" />


        <provider
            android:name=".data.OfflineTutorialContentProvider"
            android:authorities="com.muilat.android.offlinetutorial"
            android:exported="false" />

        <!--<service android:name=".sync.OfflineTutorialAuthenticatorService">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.accounts.AccountAuthenticator" />-->
            <!--</intent-filter>-->
            <!--<meta-data-->
                <!--android:name="android.accounts.AccountAuthenticator"-->
                <!--android:resource="@xml/authenticator" />-->
        <!--</service>-->

        <!-- The SyncAdapter service -->
        <!--<service-->
            <!--android:name=".sync.OfflineTutorialSyncService"-->
            <!--android:exported="true"-->
            <!--&gt;-->
            <!--<intent-filter>-->
                <!--<action android:name="android.content.SyncAdapter" />-->
            <!--</intent-filter>-->
            <!--<meta-data-->
                <!--android:name="android.content.SyncAdapter"-->
                <!--android:resource="@xml/syncadapter" />-->
        <!--</service>-->

        <!--This is required for immediate syncs -->
        <service
            android:name=".sync.OfflineTutorialSyncIntentService"
            android:exported="false" />

    </application>

</manifest>